body {
}
.All {
    width:900px;
    margin:0 180px;
}
.Header {
   height:45px;
   width:452px;
   margin-left:28px;
   margin-top:15px;
        
}
.Me{
    font-style:normal;
    font-weight:bold;
    font-size:50px;
    text-align:left;
    margin-left:30px;
    margin-top:auto;
    color:#2a3f54;
}
.Me2{
    font-style:normal;
    font-weight:bold;
    font-size:30px;
    text-align:left;
    margin-left:30px;
    margin-top:auto;
    color:#2a3f54;
}

.bt1 {
    cursor:pointer;
    height:45px;
    width:110px;
    background:#2a3f54;
    color:#d7e3ef;
    border-right-color:white;
    border-radius:7px 0  0 7px;
    text-shadow:1px 1px 5px black;
    
}
.bt2 {
    height:45px;
    width:110px;
    background:#2a3f54;
    color:#d7e3ef;
    border-right-color:white;
    border-right-width:3px;  
    cursor:pointer;
    text-shadow:1px 1px 5px black;
}
.bt3 {
    cursor:pointer;
    height:45px;
    width:110px;
    background:#2a3f54;
    color:#d7e3ef;
    border-right-color:white;
    border-right-width:3px;  
    text-shadow:1px 1px 5px black;
     
}
.bt4 {
    text-shadow:1px 1px 5px black;
    cursor:pointer;
    height:45px;
    width:110px;
    background:#2a3f54;
    color:#d7e3ef;
    border-right-width:3px;  
    border-radius:0 7px 7px 0;
}

.about {
    margin-top:45px;

}
.ubbt {
    text-shadow:1px 1px 5px black;
    height:30px;
    width:170px;
    background:#2a3f54;
    color:#d7e3ef;
    border-right-width:3px;  
    border-radius:100px 100px 100px 100px;
    margin-left:20px;
    text-align:center;
    padding-top:12px;
}
.info {
     line-height:30px;
    font-size:16px;
    font-style:normal;
    padding:5px;
    float:left;
}
.text {
    line-height:20px;
    text-align:left;
    text-decoration:none;
    margin-left:10px;
}

.nkar {
    float:left;
}

.gic {

    float:left;
    margin-right:10px;
    margin-top:-5px;
}
.erkargic {
    margin-top:-25px;
    float:right;
    margin-right:10px;
}

.ubbt1 {
    text-shadow:1px 1px 5px black;
    height:30px;
    width:170px;
    background:#2a3f54;
    color:#d7e3ef;
    border-right-width:3px;  
    border-radius:100px 100px 100px 100px;
    margin-left:20px;
    text-align:center;
    padding-top:12px;
    margin-top:130px;
}

.nkarner {
    margin:40px 80px;
}

.footer {
    width:900px;
    height:700px;
    background:#2a3f54; 
}

.experiance {
    text-shadow:1px 1px 5px black;
    height:30px;
    width:170px;
    background:#229cf2;
    color:#d7e3ef;
    border-right-width:3px;  
    border-radius:30px 30px 30px 30px;
    margin-left:30px;
    text-align:center;
    padding-top:12px;
    margin-top:30px;

}
.experiance1{
    margin-right:30px;
    padding-top:1px;
    float:left;
    height:100px;
    width:300px;
}
.erkargic11 {
    margin-top:45px;
    float:right ;
    margin-right:2px;
    margin-bottom:52px;

}

.ulik1 {
    float:left;
    color:white;
    font-size:24px;
    width:150px;
    height:30px;
    margin-top:80px;
    margin-left:-300px;
    
}

.seua {
    margin-top:20px;
    text-shadow:1px 1px 5px black;
    height:20px;
    width:120px;
    background:#229cf2;
    color:#d7e3ef;
    border-right-width:3px;  
    border-radius:100px 100px 100px 100px;
    text-align:center;
    padding-top:5px;
    float:left;
}

.inistut {
    font-size:18px;
    color:white;
    text-align:right;
    width:650px;
}

.mic {
    color:white;
    font-size:22px;
    width:180px;
    height:0px;
    margin-top:70px;
    margin-left:30px;
   
   
}

.mic1 {
    font-size:18px;
    color:white;
    text-align:left;
    width:400px;
    margin-left:360px;
    
}

.additional {
    float:left;
    color:white;
    font-size:20px;
    margin-left:-300px;

}